# Ignore everything by default
*

# Whitelist: only allow these paths
!doc/
!src/
!src-gpu/
!src-gpu/src/
!src-gpu/**
!output/
!output/**
!LICENSE
!Cargo.toml
!README.md
!hint.txt
!rust-toolchain.toml
!.github/

# Still ignore compiled/build output
target/
debug/
Cargo.lock
**/*.rs.bk
*.pdb
.idea/
