# Ignore everything by default
*

# Whitelist: only allow these paths
!doc/
!report/
!report/**
!src/
!src-gpu/
!src-gpu/src/
!src-gpu/**
!LICENSE
!Cargo.toml
!hint.txt
!rust-toolchain.toml
!.github/

# Still ignore compiled/build output
target/
debug/
Cargo.lock
**/*.rs.bk
*.pdb
output/
.idea/
